<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src=../uploads/<%=url%> alt="" />
    <p>아이디 : <%=id%></p>
    <p>비밀번호 : <%=pw%></p>
    <p>이름 : <%=name%></p>
    <p>나이 : <%=age%></p>
  </body>
  <style>
    img {
      width: 50px;
      height: 50px;
    }
  </style>
</html>
